body {
  margin: 0px;
}

#map {
  height: 100vh;
  z-index: 1;
}

#interface{
  width:400px;
  height: 600px;
  position:absolute;
  right:1px;
  background-color: aliceblue;
  opacity:0.9;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

#button{
  border-radius: 15px;
  cursor: pointer;
  color: darkcyan;
  width: 80px;
  height: 40px;
}